<div class="container">
    <section class="editSection">
        <span class="profileSpan">Edit profile</span>
        <img (click)="openEditProfile()" class="cowboy" src="../../assets/img/man.png">
    </section>
    <app-users-videos (backToMenu)="backToMenu($event,'app-users-videos')" [description]="description"
        [fileToUpload]="fileToUpload"></app-users-videos>
    <app-users-movies (backToMenu)="backToMenu($event,'app-users-movies')"></app-users-movies>
    <app-edit-profile (closeEdit)="closeEditProfile($event)" *ngIf="editProfile"></app-edit-profile>
    <div class="container second-container">
        <span (click)="openEditProfile()" class="profileSpan">Edit profile</span>
        <span (click)="toggleMenu('app-users-videos')" class="profileSpan">Your videos</span>
        <span (click)="toggleMenu('app-users-movies')" class="profileSpan">Selected movies</span>
    </div>
</div>