<div class="wrapper">
    <img class="poster" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}">
    <h1>{{movie.title}}</h1>
    <section>
        <p>Plot:</p>
        <span>{{movie.overview}}</span>
    </section>
    <section>
        <p>Release date:</p>
        <span>{{movie.release_date}}</span>
    </section>
    <div class="favoriteDiv">
        <div *ngIf="!addedToFavorites">
            <span>Add to favorites</span>
            <img (click)=" addOrDeleteMovieFromSelected(movie)" src="../../assets/img/favorite.png">
        </div>
        <div *ngIf="addedToFavorites">
            <span>Delete from favorites</span>
            <img (click)="addOrDeleteMovieFromSelected(movie)" src="../../assets/img/addedToFavorite.png">
        </div>
    </div>