<header>
  <img class="logo" src="../assets/img/logo.png">
  <div class="myCabinet">
    <div class="leagalLinks">
      <img class="userIcon" (click)="toggleImprintLinks()" src="../assets/img/user.png">
      <div *ngIf="imprintLinksOpen" class="links">
        <span (click)="closeLinks()" routerLink="imprint">Imprint</span>
        <span (click)="closeLinks()" routerLink="date-protect">Datenschutz</span>
      </div>
    </div>
    <span class="linksSpans" *ngIf="router.url!='/home'" routerLink="home/">Home</span>
    <span class="linksSpans" *ngIf="router.url!='/my-area'" routerLink="my-area/">My area</span>
    <img class="signout" (click)="handleSignoutRequest()" src="../assets/img/logout.png">
    <app-sign-out class="signoutComp" *ngIf="us.signoutRequest"></app-sign-out>
  </div>
</header>
<app-loader></app-loader>
<router-outlet>

</router-outlet>