header {
    position: absolute;
    z-index: 2000;
    display: flex;

    img {
        height: 60px;
        margin-left: 10%;
        margin-top: 20px;
    }
}
.container {
    height: 100vh;
    background-image: url('../assets/img/movies_background.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}