::-webkit-calendar-picker-indicator {
    color: white;
}

button {
    color: white;
}

.example-full-width {
    width: 100%;
}

.errors {
    span {
        color: red;
        font-size: 13px;
    }
}