<div class="containerWithMoviesBackground">
    <div class="shadow-container">
        <form *ngIf="!forgotPassword" [formGroup]="signInForm" (submit)="signin()">

            <h1>Einloggen</h1>
            <div class="input-div">
                <input formControlName="email" type="email">
                <label [class.focused]="signInForm.get('email')?.value">email</label>
            </div>

            <div class="input-div">
                <input formControlName="password" type="password">
                <label [class.focused]="signInForm.get('password')?.value">password</label>
            </div>
            <button type="submit" class="accept-form">Einloggen</button>
            <a class="forgotPasswordButton" href="http://127.0.0.1:8000/password_reset/">Password vergessen?</a>

            <div class="signUpDiv">
                <p>Neu bei Movie Town?</p><a [routerLink]="['/signup']">Jetzt registrieren</a>
            </div>
        </form>

    </div>
</div>