<div class="containerWithMoviesBackground">
    <div class="shadow-container">
        <form *ngIf="!forgotPassword" [formGroup]="signInForm" (submit)="signin()">

            <h1>Einloggen</h1>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="emailFormControl" required>
                <mat-error *ngIf="signInForm.get('emailFormControl')?.hasError('email') && !signInForm.get('emailFormControl')?.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="signInForm.get('emailFormControl')?.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>

            <div class="input-div">
                <input formControlName="password" type="password">
                <label [class.focused]="signInForm.get('password')?.value">password</label>
            </div>
            <button type="submit" class="accept-form">Einloggen</button>
            <a class="forgotPasswordButton" href="http://127.0.0.1:8000/password_reset/">Password vergessen?</a>

            <div class="signUpDiv">
                <p>Neu bei Movie Town?</p><a [routerLink]="['/signup']">Jetzt registrieren</a>
            </div>
        </form>

    </div>
</div>