.container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding-top: 20px;
    overflow-y: auto;
}

.genreSection {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    margin-bottom: 40px;

}

.genreName {
    color: white;
    font-size: 26px;
    display: block;
    padding-left: 12px;
}

.movieBoxes {
    display: flex;

}



.movieBox img {
    margin: 10px;
    width: auto;
    max-height: 300px;
}

input {
    position: absolute;
    top: 40px;
    right: 10%;
    left: 65%;
    transform: translate(-50%, -50%);
    z-index: 999;
}